In [1]:
import pandas as pd
import os
import json
import gzip
import pandas_profiling
from pathlib import Path

Since this notebook is located in the 'notebooks' folder, I used the following code to go back up into the 'Capstone2' directory. This makes importing/exporting my data a bit easier.

In [2]:
path = Path(os.getcwd()).parents[0]

In [3]:
file = os.path.join(path,'data/external','goodreads_reviews_fantasy_paranormal.json.gz')

The following code takes each review in the fantasy reviews dataset, deletes the unnecessary attributes, and then appends the review to a list. Then I converted the list to a dataframe.

In [4]:
with gzip.open(file) as fil:
    data=[]
    for l in fil:
        d=json.loads(l)
        del [d['review_text'],d['date_added'],d['read_at'],d['started_at'],d['date_updated']]
        data.append(d)

In [5]:
data[0:2]

[{'user_id': '8842281e1d1347389f2ab93d60773d4d',
  'book_id': '18245960',
  'review_id': 'dfdbb7b0eb5a7e4c26d59a937e2e5feb',
  'rating': 5,
  'n_votes': 28,
  'n_comments': 1},
 {'user_id': '8842281e1d1347389f2ab93d60773d4d',
  'book_id': '5577844',
  'review_id': '52c8ac49496c153e4a97161e36b2db55',
  'rating': 5,
  'n_votes': 5,
  'n_comments': 1}]

In [6]:
df = pd.DataFrame(data)
df=df.set_index(['review_id'])

In [7]:
df.head()

,user_id,book_id,rating,n_votes,n_comments
review_id,,,,,
dfdbb7b0eb5a7e4c26d59a937e2e5feb,8842281e1d1347389f2ab93d60773d4d,18245960,5,28,1
52c8ac49496c153e4a97161e36b2db55,8842281e1d1347389f2ab93d60773d4d,5577844,5,5,1
885c772fb033b041f42d57cef5be0a43,8842281e1d1347389f2ab93d60773d4d,17315048,5,25,5
46a6e1a14e8afc82d221fec0a2bd3dd0,8842281e1d1347389f2ab93d60773d4d,13453029,4,5,1
a582bfa8efd69d453a5a21a678046b36,8842281e1d1347389f2ab93d60773d4d,13239822,3,7,0

I used the profile_report function to get statistics and other important information on the data.

In [8]:
df.profile_report()

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

There isn't much data cleaning to do with this set. However, I deleted all the entries that have a rating of '0', since that indicates that no rating was given.

In [9]:
df = df['rating']!=0

In [12]:
df.shape

(3310879, 5)

In [13]:
df.to_csv(os.path.join(path,'data/processed','DataWranglingOutput.csv'))